
.select {
}

.main {
  cursor: pointer;
  border: 1px solid black;
  display: inline-block;
  min-height: 20px;
  min-width: 40px;
}

.items {
  position: absolute;
  border: 1px solid black;
  list-style-type: none;
  padding: 5px;

  li {
    cursor: pointer;

    &.selected {
      background-color: blue;
      color: white;
    }
  }
}