.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;

  padding-top: 20px;
  background: rgb(113, 187, 187);

  * {
    background-color: #d07eac;
  }
}
